@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 247, 248, 248;
  --background-start-rgb: 5, 2, 20;
  --background-end-rgb: 9, 4, 30;
}

html.dark {
  --foreground-rgb: 247, 248, 248;
  --background-start-rgb: 5, 2, 20;
  --background-end-rgb: 9, 4, 30;
}

html.light {
  --foreground-rgb: 20, 6, 58;
  --background-start-rgb: 240, 234, 255;
  --background-end-rgb: 248, 245, 255;
}

@media (prefers-color-scheme: light) {
  :root:not(.dark) {
    --foreground-rgb: 20, 6, 58;
    --background-start-rgb: 240, 234, 255;
    --background-end-rgb: 248, 245, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: auto;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes brighten-border {
  0% {
    border-color: #2813a8;
  }
  50% {
    border-color: #170c59;
  }
  100% {
    border-color: #2813a8;
  }
}

.brighten-on-click:active {
  animation: brighten-border 300ms ease-out;
}

.input-focus {
  border-color: red;
}

.input-no-outline:focus {
  outline: none;
}
