@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes brighten-border {
  0% {
    border-color: #2813a8; /* Initial border color */
  }
  50% {
    border-color: #170c59; /* Brighter border color */
  }
  100% {
    border-color: #2813a8; /* Return to initial border color */
  }
}

.brighten-on-click:active {
  animation: brighten-border 300ms ease-out;
}

.input-focus {
  border-color: red;
}

.input-no-outline:focus {
  outline: none;
}
